// Config file necessary for nextflow

params.help = false

// profile section

profiles {

    // containerization platform section

    singularity {
	singularity.enabled = true
	singularity.cacheDir = "${launchDir}singular"	// the directory whre the singularity dirs should be created
    }

    docker {
	docker.enabled = true
    }


    // Executors section 

    standard {
        process.executor = 'local'
	process.cpus = '6'
    }

    cluster {
        process.executor = 'crg'
        process.queue = 'long-sl7'
        process.memory = '6GB'
	process.time = '6h'
	
	withLabel: incr_time_cpus {
            errorStrategy = 'retry'
            memory = '8GB'
            cpus = 2
            time = {6.h * task.attempt * task.attempt}
            maxRetries = 4
        }
    }

    // Mostly here for reference change it to your needs
    cloud {
        process.executor = 'cirrus'
        process.container = 'cbcrg/imagex'
	process.time = '1h'
    }

}
