// Config file necessary for nextflow

params.help = false

// profile section

profiles {

    // containerization platform section

    singularity {
	enabled = true
	cacheDir = "${launchDir}singular"	// the directory whre the singularity dirs should be created
    }

    docker {
	enabled = true
    }


    // Executors section 

    standard {
        process.executor = 'local'
	process.cpus = '6'
    }

    cluster {
        process.executor = 'crg'
        process.queue = 'long-sl7'
        process.memory = '6GB'
	process.time = '6h'
    }

    cloud {
        process.executor = 'cirrus'
        process.container = 'cbcrg/imagex'
	process.time = '1h'
    }

}
